{% extends 'layout.html' %}

{% block content %}
    <h1 class="text-center">Books Top Lists</h1>

    <p class="text-center"><a href="/admin">Manage Lists</a><br/>
    <span class="text-muted">Login: admin, Password: adminpassword</span> </p>

    <div class="lists row">
        {% for list in lists %}
            <div class="col-sm-6">
                <h3 class="text-center">{{ list.name }}</h3>
                {% for list_item in list.booklist_set.all %}
                    <div class="list-item">
                        <span class="rating-number">{{ list_item.order }}</span>
                        <p>
                            <strong>{{ list_item.book.title }}</strong><br/>
                            <span>by {{ list_item.book.author }}</span>
                            <span style="margin-left: 10px;">ISBN: {{ list_item.book.isbn }}</span>
                        </p>
                        <p>Comment:<br/>{{ list_item.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}