<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <style>
        .lists{
            margin-top: 40px;
        }

        .list-item{
            position: relative;
            padding: 20px 20px 20px 40px;
            max-width: 400px;
            margin: 0 auto;
        }

        .rating-number{
            position: absolute;
            font-size: 30px; line-height: 30px;
            left: 0; top: 50%; margin-top: -15px;
        }
    </style>

</head>
<body>
    <div class="wrap">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>