{% extends 'layout.html' %}

{% block content %}
    {% csrf_token %}

    <h1 class="text-center">Comparing Dates</h1>

    <table class="table">
        <tr>
            <th>Your time:</th>
            <td id="client_time">Loading...</td>
        </tr>
        <tr>
            <th>Server's time:</th>
            <td id="server_time">Loading...</td>
        </tr>
        <tr>
            <th>Difference:</th>
            <td id="difference">Loading...</td>
        </tr>
    </table>

    <script>
        var tz = jstz.determine();

        $.ajax({
            url: '{% url 'get_time' %}',
            data: {tz: tz.name()},
            type: 'post',
            success: function(data){
                $('#client_time').text(data.client_time);
                $('#server_time').text(data.server_time);
                $('#difference').text(data.difference);
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
            }
        });
    </script>

{% endblock %}