<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item5</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>

    <style>
        .wrap { padding: 60px 0; }
        h1 { margin-top: 0; }
        .table th, .table td{
            width: 50%;
            border: none !important;
            padding: 8px 16px !important;
        }
        .table th{
            text-align: right;
        }
    </style>
</head>
<body>

<div class="wrap">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>